.active {
  color: #ed1d24;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  padding: 5px 10px;
}

a {
  text-decoration: none;
  color: white;
}

.open {
  display: flex;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  ul.open {
    display: flex;
  }
}
